body {
    background-color: rgb(255, 244, 230);
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    font-weight: bold;
    color: red;
}

/*### Sidebar menu ###*/
.vertical-menu {
    width: 20%; /* Set a width if you like */
    height: 100%;
    float: left;
    padding-right: 1%;
}

.vertical-menu a {
    background-color: rgb(255, 244, 230);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: rgb(255, 175, 71); 
    color: white;
}

.vertical-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.content {
    float: left;
    width : 78%;
}

td {
    border: 1px solid black;
}

/*###Bouton ajouterjoueur###*/
.add{
	width : 130px;
	height : 50px;
	background-color:rgb(255, 175, 71);
	position : fixed;
	bottom  : 0;
	right: 0;
	margin-right : 1%;
	margin-bottom : 1%;
	text-align : center;
	line-height: 50px;	
	text-decoration : none;
	color : white;
	font-weight : bold;
	border : solid;
	border-width : 5px;
}

.add:hover{
	background-color:white;
	color: rgb(255, 175, 71);
	border-color : rgb(255, 175, 71);
}


/*###Tableau Style###*/

#tableindex {
    border-collapse: collapse;
    width: 80%;
    font-size: 20pt;
}

.tableau {
    float: left;
    width: 79%;
    margin-top: 2%;
}

.entete {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.corp:hover {
    background-color: rgba(248, 153, 29, 0.315);
}

.corp a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18pt;
}

/*### Page joueur###*/

#photo {
    float: left;
    width: 45%;
    border-right: 2px solid black;
}

#photo img {
    width: 200px;
    height: 200px;
    float: left;
}

#photo #donne {
    float: left;
}

#infos {
    float: left;
    padding-left: 1%;
}

#divtabRencontre {
    display:inline-block;
    margin-top: 30px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

#divtabRencontre thead {
    position: relative;

}

#divtabRencontre tbody {
    height: 200px;
}

#tableprofil {
    border-collapse: collapse;
    width: 100%;
}

/*###Bouton editjoueur###*/
.edit{
	width : 150px;
	height : 50px;
	background-color:rgb(255, 175, 71);
	position : fixed;
	bottom  : 0;
	right: 0;
	margin-right : 1%;
	margin-bottom : 1%;
	text-align : center;
	line-height: 50px;	
	text-decoration : none;
	color : white;
	font-weight : bold;
	border : solid;
	border-width : 5px;
}

.edit:hover{
	background-color:white;
	color: rgb(255, 175, 71);
	border-color : rgb(255, 175, 71);
}

/*###Bouton deljoueur###*/
.del{
	width : 150px;
	height : 50px;
	background-color:rgb(255, 175, 71);
	position : fixed;
	bottom  : 0;
	right: 170px;
	margin-right : 1%;
	margin-bottom : 1%;
	text-align : center;
	line-height: 50px;	
	text-decoration : none;
	color : white;
	font-weight : bold;
	border : solid;
	border-width : 5px;
}

.del:hover{
	background-color:white;
	color: rgb(255, 175, 71);
	border-color : rgb(255, 175, 71);
}

/*###Bouton add rencontre###*/
.addr{
	width : 150px;
	height : 50px;
	background-color:rgb(255, 175, 71);
	position : fixed;
	bottom  : 0;
	right: 0;
	margin-right : 1%;
	margin-bottom : 1%;
	text-align : center;
	line-height: 50px;	
	text-decoration : none;
	color : white;
	font-weight : bold;
	border : solid;
	border-width : 5px;
}

.addr:hover{
	background-color:white;
	color: rgb(255, 175, 71);
	border-color : rgb(255, 175, 71);
}

/*### Page Rencontre ###*/

.affrenc p {
	font-size : 18pt;
}

/*### Page Ajout Rencontre / Joueur ###*/

.form {
	font-size : 15pt;
}

.adv {
	margin-right : 100px;
}
